:root {
    --white: #EEEEEE;
    --red: #F94F6D;
    --light-purple: #9AABD8;
    --dark-purple: #1B244A;
    --black: #080001;
}

@font-face {
    font-family: "Cursed Timer ULiL";
    src: url(./fonts/CursedTimerUlil-Aznm.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    align-items: center;

    height: 100vh;

    margin-top: 200;

    background-color: var(--white);
    color: var(--white);

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    width: 45px;
    height: 45px;

    padding: 10px;

    border: 2px solid var(--light-purple);
    border-radius: 5px;

    background-color: var(--dark-purple);

    font-family: "Cursed Timer ULiL";
    font-size: 1.125rem;
    text-align: center;
    color: var(--light-purple);
}

button:hover {
    border-color: var(--white);
    color: var(--white);
}

.container-row {
    display: flex;
}

.container-col {
    display: flex;
    flex-direction: column;
}

#scoreboard {
    justify-content: space-around;

    width: 575px;
    height: 385px;

    background-color: var(--dark-purple);
}

.scorecard {
    justify-content: center;

    text-align: center;

    gap: 20px;

    width: 155px;
}

.scorecard h3 {
    font-size: 2.5rem;
    font-weight: 700;
}

.score {
    justify-content: center;
    align-items: end;

    height: 120px;

    background-color: var(--black);

    font-family: "Cursed Timer ULiL";
    font-size: 5.625rem;

    color: var(--red);
}

.buttons {
    justify-content: space-between;
}
